{% extends 'base.html' %}

{% block content %}
<!-- Allow user to add input  -->
<div id="calc" >
  <h1>Rotation Scheduling </h1>
  <p>Please enter details to run the model:</p>

  <form action="{{ url_for('index5') }}" method="POST">
    
    
    <h5> Enter Impossible Assignment Set Name: </h5>
    <label> Person: <input type="text" name="impo_people" required></label>
    <label> Rotation <input type="text" name="impo_rotation" required> </label>
    <label> Block: <input type="text" name="impo_block" required></label>
    <br><br>
    


    <input type="submit" name="next" value="Next">
  </form>
  <br><br>
  {% if result %}
    <h3>The Impossible Assignment Set has successfully been stored {{result}}</h3>
    <br>
    
{% endif %}
</div>

{% endblock %}