{% extends 'base.html' %}


{% block content %}
<style type="text/css">
  .left{
  width: 1200px;
  height: 600px;
  background-color: rgb(0, 255, 247);
  float: left;
  }
  .main{
  height: 6000px;
  background-color: #fbfb0b;
  margin-left: 1200px;
  }
  </style>
  <div class="left">
<!-- Allow user to add input  -->
<div id="calc" >
  <h1>Rotation Scheduling </h1>
  <p> Please enter details to run the model:</p>

  <form action="{{ url_for('preference') }}" method="POST">
    
    
    <h5> Enter Preference Set Name: </h5>
    <label> Person: <input type="text" name="pref_people" required></label>
    <label> Rotation: <input type="text" name="pref_rotation" required></label>
    <label> Block: <input type="number" name="pref_block" min="1" required></label>
    <br><br>
    


    <input type="submit" name="next" value="Next">
  </form>
  <br><br>
  {% if result %}
    <h3>The Preference Set has successfully been stored {{result}}</h3>
    <br>

{% endif %}
</div>
</div>

  <div class="main">
    
    
      {% for prefData in prefDatas %}
          <div class="prefDatas">
              <p><b>#{{ prefData.prefId }}</b></p>
              <p>residentname: {{ prefData.residentname }}</p>
              <p>rotationName: {{ prefData.rotationName }}</p>
              <p>block: {{ prefData.block }}</p>
              <a href = "/deletePref/{{prefData.prefId}}"> Delete </a>
          </div>
      {% endfor %}
    

  </div>
{% endblock %}



