
<!--This file allows user to input, view and delete priority information-->

{% extends 'base.html' %}


{% block content %}
<style type="text/css">
  .left{
  width: 1200px;
  height: 600px;
  background-color: rgb(0, 255, 247);
  float: left;
  }
  .main{
  height: 6000px;
  background-color: #fbfb0b;
  margin-left: 1200px;
  }
  </style>
  <div class="left">
<!-- Allow user to add input  -->
<div id="calc" >
  <h1>Rotation Scheduling </h1>
  <p>Please enter details to run the model:</p>

  <form action="{{ url_for('priority') }}" method="POST">
    
    
    <h5>Enter Priority Set Name:</h5>
    <label> Person: <input type="text" name="pri_people" required></label>
    <label> Rotation: <input type="text" name="pri_rotation" required></label>
    <label> Block: <input type="number" name="pri_block" min="1" required></label>
    <br><br>
    


    <input type="submit" name="next" value="Next">
  </form>
  <br><br>
  {% if result %}
    <h3>The Priority Set has successfully been stored {{result}}</h3>
    <br>
    
{% endif %}
</div>

  </div>
  <div class="main">
    
    
    {% for prifData in prifDatas %}
    <div class="prifDatas">
        <p><b>#{{ prifData.prifId }}</b></p>
        <p>residentname: {{ prifData.residentname }}</p>
        <p>rotationName: {{ prifData.rotationName }}</p>
        <p>block: {{ prifData.block }}</p>
        <a href = "/deletePriority/{{prifData.prifId}}"> Delete </a>
        <a href = "/updatePriority/{{prifData.prifId}}"> Update </a>
    </div>
{% endfor %}
    

  </div>
{% endblock %}


