
<!--This file allows user to input, view and delete priority information-->

{% extends 'base.html' %}


{% block content %}
<!-- Allow user to add input  -->
<div id="calc" >
  <h1>Rotation Scheduling </h1>
  <p>Please enter details to run the model:</p>

  <form action="{{ url_for('priority') }}" method="POST">
    
    
    <h5>Enter Priority Set Name:</h5>
    <label> Person: <input type="text" name="pri_people" required></label>
    <label> Rotation: <input type="text" name="pri_rotation" required></label>
    <label> Block: <input type="number" name="pri_block" min="1" required></label>
    <br><br>
    


    <input type="submit" name="next" value="Next">
  </form>
  <br><br>
  {% if result %}
    <h3>The Priority Set has successfully been stored {{result}}</h3>
    <br>
    
{% endif %}
</div>


{% endblock %}
{% block listItems %}
<table class="rtable">
  <thead class="thead">
    <tr class="list-header">
      <th scope="col" class="tcolumn">ID</th>
      <th scope="col" class="tcolumn">Resident</th>
      <th scope="col" class="tcolumn">Rotation</th>
      <th scope="col" class="tcolumn">Block</th>
      <th scope="col" class="tcolumn">Action</th>
    </tr>
  </thead>
  
  <tbody class="tbody">
    {% for prifData in prifDatas %}
    <!-- update this onclick getElementById with respective field -->
    <tr class="list-item" >
      <th scope="row">#{{ prifData.prifId }}</th>
      <td style="text-align: center;">{{ prifData.residentname }}</td>
      <td style="text-align: center;">{{ prifData.rotationName }}</td>
      <td style="text-align: center;">{{ prifData.block }}</td>
      <td><a href = "/deletePriority/{{prifData.prifId}}"> Delete </a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}

 

