
<!--This file allows user to input, view and delete resident information-->

{% extends 'base.html' %}


{% block content %}

<!-- Allow user to add input  -->
<div id="calc" >
  <h1>Metadata </h1>
  <!-- <p>Please enter details to run the model:</p>  -->

  <form action="{{ url_for('metadata') }}" method="POST">
    
    <label>Enter the start date for the model:</label>
    <input type="text" name="startDate" id = "res_startDate">
    <label>Enter the number of weeks for the year:    </label>
    <input type="number" name="weeks" id = "res_week">
    <!-- Annotation
    <p style="color:rgb(32, 135, 144);font-size:14px;">
      *The people not included in the "All Year Residents" are those that do not follow the general 
      requirements for example the cardiothoracic or partial year residents </p>
    <br>
   -->

    <input class="button" type="submit" name="Submit" value="Submit">
  </form>
  <br><br>
  {% if result %}
    <h3>The Metadata has successfully been stored {{result}}</h3>
    <br>
    
{% endif %}
</div>
{% endblock %}
{% block listItems %}
<table class="rtable">
  <thead class="thead">
    <tr class="list-header">
      <th scope="col" class="tcolumn">Start Date</th>
      <th scope="col" class="tcolumn">Weeks</th>
      <th scope="col" class="tcolumn">Action</th>
      <th scope="col" class="tcolumn">Update</th>
    </tr>
  </thead>
  <tbody class="tbody">

    {% for metadataData in metadataDatas %}
    <tr class="list-item">
      <td style="text-align: center;">{{ metadataData.startDate }}</td>
      <td style="text-align: center;">{{ metadataData.weeks }}</td>
      <td><a href = ""> Delete </a></td>
      <td><a href = ""> Update </a></td>
    </div>
  {% endfor %}

  </tbody>
</table>
{% endblock %}

