
<!--This file allows user to input, view and delete resident information-->

{% extends 'base.html' %}


{% block content %}

<!-- Allow user to add input  -->
<div id="calc" >
  <h1>Resident </h1>
  <!-- <p>Please enter details to run the model:</p>  -->

  <form action="{{ url_for('resident') }}" method="POST">
    
    <label>Enter Resident Name:</label>
    <input type="text" name="name" id = "res_name">
    <label>Enter Resident Class:</label>
    <input type="text" name="residentClass" id = "res_residentClass">

    
    <label>Enter Vacation Request 1:</label>
    <input type="text" name="vacationRequest_1" id = "res_vacationRequest_1">
    <label>Enter Vacation Request 2:</label>
    <input type="text" name="vacationRequest_2" id = "res_vacationRequest_2">
    <label>Enter Vacation Request 3:</label>
    <input type="text" name="vacationRequest_3" id = "res_vacationRequest_3">

    <label>Enter impossible working blocks:</label>
    <input type="text" name="impossible_working_blocks" id = "res_impossible_working_blocks"> 

    <!-- Annotation -->
    <p style="color:rgb(32, 135, 144);font-size:14px;">
      *The people not included in the "All Year Residents" are those that do not follow the general 
      requirements for example the cardiothoracic or partial year residents </p>
    <br>
  

    <input class="button" type="submit" name="Submit" value="Submit">
  </form>
  <br><br>
  {% if result %}
    <h3>The Resident has successfully been stored {{result}}</h3>
    <br>
    
{% endif %}
</div>
{% endblock %}
{% block listItems %}
<table class="rtable">
  <thead class="thead">
    <tr class="list-header">
      <th scope="col" class="tcolumn">Resident</th>
      <th scope="col" class="tcolumn">Class</th>
      <th scope="col" class="tcolumn">Vacation Request 1</th>
      <th scope="col" class="tcolumn">Vacation Request 2</th>
      <th scope="col" class="tcolumn">Vacation Request 3</th>
      <th scope="col" class="tcolumn">Impossible Working Blocks</th>
      <th scope="col" class="tcolumn">Action</th>
      <th scope="col" class="tcolumn">Update</th>
    </tr>
  </thead>
  <tbody class="tbody">

    {% for residentData in residentDatas %}
    <tr class="list-item">
      <td style="text-align: center;">{{ residentData.name }}</td>
      <td style="text-align: center;">{{ residentData.residentClass }}</td>
      <td style="text-align: center;">{{ residentData.vacationRequest_1 }}</td> 
      <td style="text-align: center;">{{ residentData.vacationRequest_2 }}</td>
      <td style="text-align: center;">{{ residentData.vacationRequest_3 }}</td>  
      <td style="text-align: center;">{{ residentData.impossible_working_blocks}}</td>    
      <td><a href = "/deleteResident/{{residentData.residentId}}"> Delete </a></td>
      <td><a href = "/updateResident/{{residentData.residentId}}"> Update </a></td>
    </div>
  {% endfor %}

  </tbody>
</table>
{% endblock %}

