
<!--This file allows user to input, view and delete resident information-->

{% extends 'base.html' %}


{% block content %}

<!-- Allow user to add input  -->
<div id="calc" >
  <h1>Resident </h1>
  <!-- <p>Please details to run the model:</p>  -->

  <form action="{{ url_for('resident') }}" method="POST">

    <label>Residency year:</label>
    <select name="year" id="years" required>

      {% for x in range(1, (yearInfo.years+1)) %}
        <option value="{{ x }}">{{ x }}</option>
      {% endfor %}
    </select>
    
    <label>Resident Name:</label>
    <input type="text" name="name" id = "res_name">

    
    <label>impossible working blocks:</label>
    <input type="text" name="impossible_working_blocks" id = "res_impossible_working_blocks"> 

    <label>required working dept:</label>
    <input type="text" name="rDept" id = "rDept"> 

    <label>impossible working dept:</label>
    <input type="text" name="iDept" id = "iDept"> 


    <!-- Annotation -->
    <p style="color:rgb(32, 135, 144);font-size:14px;">
      *The people not included in the "All Year Residents" are those that do not follow the general 
      requirements for example the cardiothoracic or partial year residents </p>
    <br>
  

    <input class="button" type="submit" name="Submit" value="Submit">
  </form>
  <br><br>
  {% if result %}
    <h3>The Resident has successfully been stored {{result}}</h3>
    <br>
    
{% endif %}
</div>
{% endblock %}
{% block listItems %}
<table class="rtable">
  <thead class="thead">
    <tr class="list-header">
      <th scope="col" class="tcolumn">Year</th>
      <th scope="col" class="tcolumn">Resident</th>
      <th scope="col" class="tcolumn">Impossible Working Blocks</th>
      <th scope="col" class="tcolumn">required Working Dept</th>
      <th scope="col" class="tcolumn">Impossible Working Dept</th>
      <th scope="col" class="tcolumn">Action</th>
      <th scope="col" class="tcolumn">Update</th>
    </tr>
  </thead>
  <tbody class="tbody">

    {% for residentData in residentDatas %}
    <tr class="list-item">
      <td style="text-align: center;">{{ residentData.year }}</td>
      <td style="text-align: center;">{{ residentData.name }}</td>
      <td style="text-align: center;">{{ residentData.impossible_working_blocks}}</td>  
      <td style="text-align: center;">{{ residentData.rDept}}</td> 
      <td style="text-align: center;">{{ residentData.iDept}}</td>   
      <td><a href = "/deleteResident/{{residentData.residentId}}"> Delete </a></td>
      <td><a href = "/updateResident/{{residentData.residentId}}"> Update </a></td>
    </div>
  {% endfor %}

  </tbody>
</table>
{% endblock %}

