
<!--This file allows user to input, view and delete resident information-->

{% extends 'base.html' %}


{% block content %}

<!-- Allow user to add input  -->
<div id="calc" >
  <h1>Year </h1>
  <!-- <p>Please details to run the model:</p>  -->

  <h1>Please Enter the Year before proceeding</h1>
  <form action="{{ url_for('year') }}" method="POST">
    <label>Number of Residency Years:</label>
    <input type="number" name="years" id = "years">


    <!-- Annotation -->
    <!-- <p style="color:rgb(32, 135, 144);font-size:14px;">
      *The people not included in the "All Year Residents" are those that do not follow the general 
      requirements for example the cardiothoracic or partial year residents </p>
    <br>
   -->

    <input class="button" type="submit" name="Submit" value="Submit">
  </form>
  <br><br>
  {% if result %}
    <h3>The Number of years has successfully been stored {{result}}</h3>
    <br>
    
{% endif %}
</div>
{% endblock %}
{% block listItems %}
<table class="rtable">
  <thead class="thead">
    <tr class="list-header">
      <th scope="col" class="tcolumn">Number of Residency Years</th>
      <th scope="col" class="tcolumn">Action</th>
      <th scope="col" class="tcolumn">Update</th>
    </tr>
  </thead>
  <tbody class="tbody">

    {% for yearData in yearDatas %}
    <tr class="list-item">
      <td style="text-align: center;">{{ yearData.years }}</td>
      <td><a href = ""> Delete </a></td>
      <td><a href = ""> Update </a></td>
    </div>
  {% endfor %}

  </tbody>
</table>
{% endblock %}

