<div id="calc" >
    <h1>Update </h1>
    <p>Please enter details to run the model:</p>
  
    <form action="/updateVacation/{{vacation_to_update.vacId}}" method="POST">
      
      
      <h5>Enter Vacation Set Name:</h5>
      <label> Person: <input type="text" name="vac_people" required  value = {{vacation_to_update.residentname}}></label>
      <label> Block: <input type="number" name="vac_block" min="1" required  value = {{vacation_to_update.block}}></label>
      <br><br>
      
  
  
      <input type="submit" name="Update" value="Update">
    </form>
    <br><br>
    {% if result %}
      <h3>The Vacation Set has successfully been stored {{result}}</h3>
      <br>
      
  {% endif %}
</div>