<div id="calc" >
    <h1>Update </h1>
    <p>Please enter details to run the model:</p>
  
    <form action="{{ url_for('impossible') }}" method="POST">
      
      
      <h5> Enter Impossible Assignment Set Name: </h5>
      <label> Person: <input type="text" name="imp_people" required  value = {{impossible_to_update.residentname}}></label>
      <label> Rotation <input type="text" name="imp_rotation" required  value = {{impossible_to_update.rotationName}}> </label>
      <label> Block: <input type="number" name="imp_block" min="1" required value = {{impossible_to_update.block}}></label>
      <br><br>
      
  
  
      <input type="submit" name="next" value="Next">
    </form>
    <br><br>
    {% if result %}
      <h3>The Impossible Assignment Set has successfully been stored {{result}}</h3>
      <br>
      
  {% endif %}
  </div>